.footerWrapper {
    display: flex;
    width: 100%;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    background-image: url('/mountains-back.svg');
    background-position: top;
    background-size: cover;
}