.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #111;
    transition: 3s linear;
    opacity: 100;
}

.loadingOverlay svg {
    position: absolute;
    width: 25px;
    top: 25px;
    left: 50%;
    animation: infiniteRotate 2s linear infinite;
}

@keyframes infiniteRotate {  
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}