.contentRow h1 {
    margin: 0;
}

.contentRow {
    display:flex;
    flex-flow: row;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    /* margin-top: 63px; */
}

.contentColumn {
    display:flex;
    flex-flow: column;
    align-items: center;
    margin: 15px;
    width: 100%;
}

.contentBox {
    background-color: #eee;
    padding: 5vh;
    /* padding-bottom: 1000px; */
    border-radius: 25px;
    width: 100%;
    max-width: 50vw;
}

.innerRow {
    display: flex;
    flex-flow: row;
}

.innerColumn {
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.button {
    border: 1px solid #006699;
    border-radius: 25px;
    padding: 10px;
}