.artwork {
    background-image: url("/stars-2.jpg");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    display:block;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.mountain {
    position: absolute;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    bottom: 0;
    right: 0;
}

.mountainFront {
    position: absolute;
}

.mountainFront svg {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    /* min-height: 300px; */
    /* background-image: url("/mountain-front-center.svg"); */
}

.mountainFront svg path {
    transition: 5s;
}

.mountainBack {
    min-height: 300px;
    background-image: url("/mountains-back.svg");
}

.mountainFar {
    min-height: 325px;
    background-image: url("/mountain-volcano.svg");
}

.mountain img {
    min-width: 800px;
    width: 100%;
}

.campfire {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}