.navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px;
    padding-right: 15px;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 25px;
    background: #111;
    height: 48px;
    z-index: 99;
}

.navbarItem {
    text-transform: uppercase;
    display: inline-flex;
    flex-flow: row;
    vertical-align: middle;
    margin: 0 10px 0 10px;
    color: #eee;
    font-weight:bold;
}

.navbarItem:hover {
    border-bottom: 2px solid #FCB045;
    color: #fff;
}

.navbarHome {
    display: inline-flex;
    flex-flow: row;
    vertical-align: middle;
    transition: .2s;
    padding-left: 2px;
}

.navbarHome:hover {
    transform: scale(0.95);
    transition: .2s;
}